<div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
    {{#str}}contentmodificationsuccess, local_dixeo_editor{{/str}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
